In [1]:
import  pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = 'https://archive.ics.uci.edu/static/public/222/bank+marketing.zip'
file_name = 'bank+marketing.zip'
!wget $data -O $file_name

--2024-10-17 05:34:33--  https://archive.ics.uci.edu/static/public/222/bank+marketing.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: 'bank+marketing.zip'

bank+marketing.zip      [    <=>             ] 999.85K   942KB/s    in 1.1s

2024-10-17 05:34:35 (942 KB/s) - 'bank+marketing.zip' saved [1023843]

In [3]:
import os
print(os.getcwd())

/kaggle/working

In [4]:
import os
import zipfile  

# Step 1: Check the current directory and list files
print(os.listdir())  # This shows the files in /kaggle/working

# Step 2: Define the ZIP files
main_zip_file = 'bank+marketing.zip'  # This is the file containing bank.zip
bank_zip_file = 'bank.zip'  # This is the file we want to extract from

# Step 3: Extract bank.zip from bank+marketing.zip
with zipfile.ZipFile(main_zip_file, 'r') as main_zip_ref:
    main_zip_ref.extract(bank_zip_file)  # Extract bank.zip from the main ZIP file

# Step 4: Open the extracted bank.zip file and list its contents
with zipfile.ZipFile(bank_zip_file, 'r') as zip_ref:
    # List all files in the ZIP archive
    zip_contents = zip_ref.namelist()
    print("\nContents of bank.zip:")
    print(zip_contents)  # This will show you the actual paths of the files inside

    # Step 5: Extract the specific CSV file (adjust the path if necessary)
    zip_ref.extract('bank-full.csv')  #

['__notebook__.ipynb', 'bank+marketing.zip']

Contents of bank.zip:
['bank-full.csv', 'bank-names.txt', 'bank.csv']

In [5]:
df = pd.read_csv('bank-full.csv',delimiter= ';')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [6]:
df.head().T

                    0           1             2            3        4
age                58          44            33           47       33
job        management  technician  entrepreneur  blue-collar  unknown
marital       married      single       married      married   single
education    tertiary   secondary     secondary      unknown  unknown
default            no          no            no           no       no
balance          2143          29             2         1506        1
housing           yes         yes           yes          yes       no
loan               no          no           yes           no       no
contact       unknown     unknown       unknown      unknown  unknown
day                 5           5             5            5        5
month             may         may           may          may      may
duration          261         151            76           92      198
campaign            1           1             1            1        1
pdays              -1          -1            -1           -1       -1
previous            0           0             0            0        0
poutcome      unknown     unknown       unknown      unknown  unknown
y                  no          no            no           no       no

In [7]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [8]:
numeric = list(df.dtypes[df.dtypes == 'int64'].index)
numeric
#['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']

['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']

In [9]:
print(df['age'].corr(df['balance']))
print(df['day'].corr(df['campaign']))
print(df['day'].corr(df['pdays']))
print(df['pdays'].corr(df['previous'])) ## biggest correlation

0.09778273937134754
0.16249021632619293
-0.09304407377294052
0.45481963548050075

In [10]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [11]:
df.y.value_counts()
df.y=(df.y == 'yes').astype(int)
df.y.value_counts()

y
0    39922
1     5289
Name: count, dtype: int64

In [12]:
df.education.mode()

0    secondary
Name: education, dtype: object

In [13]:
from sklearn.model_selection import train_test_split
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [14]:
len(df_train),len(df_val),len(df_test)
len(df_train)+len(df_val)+len(df_test)==len(df)

True

In [15]:
df_train

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
20326,32,technician,single,tertiary,no,1100,yes,yes,cellular,11,aug,67,1,-1,0,unknown,0
24301,38,entrepreneur,married,secondary,no,0,yes,yes,cellular,17,nov,258,1,-1,0,unknown,0
38618,49,blue-collar,married,secondary,no,3309,yes,no,cellular,15,may,349,2,-1,0,unknown,0
18909,37,housemaid,married,primary,no,2410,no,no,cellular,4,aug,315,1,-1,0,unknown,0
23081,31,self-employed,married,tertiary,no,3220,no,no,cellular,26,aug,74,4,-1,0,unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13264,27,services,single,secondary,no,167,no,yes,cellular,8,jul,606,2,-1,0,unknown,0
28829,40,technician,single,tertiary,no,693,no,no,cellular,30,jan,427,1,-1,0,unknown,0
3844,54,technician,divorced,secondary,no,0,yes,no,unknown,16,may,161,1,-1,0,unknown,0
15597,25,services,single,secondary,no,2311,no,yes,cellular,21,jul,1105,2,-1,0,unknown,1
22987,30,management,single,tertiary,no,15,no,yes,cellular,26,aug,252,2,-1,0,unknown,0

In [16]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,1
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,1
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,1
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,0
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,0

In [17]:
df_train=df_train.reset_index(drop = True)
df_val=df_val.reset_index(drop = True)
df_test=df_test.reset_index(drop = True)

y_train = df_train.y.values
y_val = df_val.y.values
y_test = df_test.y.values


#del df_train['y']
#del df_val['y']
#del df_val['y']

In [18]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,1
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,1
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,1
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,0
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,0

In [19]:
y_train,y_val,y_test

(array([0, 0, 0, ..., 0, 1, 0]),
 array([0, 0, 1, ..., 0, 0, 1]),
 array([0, 0, 0, ..., 0, 0, 0]))

#mutual info

In [20]:
categories = list(df.dtypes[df.dtypes==object].index)
categories

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'poutcome']

In [21]:
from sklearn.metrics import mutual_info_score
for i in categories:
    mi = print(i , round(mutual_info_score(y_train,df_train[i]),2))
#poutcome has highest categorical value

job 0.01
marital 0.0
education 0.0
default 0.0
housing 0.01
loan 0.0
contact 0.01
month 0.03
poutcome 0.03

In [22]:
from sklearn.metrics import mutual_info_score
for i in categories:
    mi =  mutual_info_score(y_train,df_train[i])
mi.sort_values(ascending = False)

AttributeError: 'numpy.float64' object has no attribute 'sort_values'

# ONEHOT ENCODING

In [ ]:
from sklearn.feature_extraction import DictVectorizer
dv=DictVectorizer()
train_dict = df_train[categories+numeric].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

train_dict = df_val[categories+numeric].to_dict(orient='records')
X_val = dv.fit_transform(train_dict)

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)
ypred= model.predict_proba(X_val)[:,1]
Subscribe_ornot = (ypred>=0.5)

In [ ]:
(y_val==Subscribe_ornot).mean()

In [ ]:
df.dtypes

In [ ]:
df_full_train.education.unique()

# Features

In [ ]:
df_full_train[df_full_train.education == 'primary'].y.mean()

In [ ]:
df_full_train[df_full_train.education == 'secondary'].y.mean()

In [ ]:
df_full_train[df_full_train.education == 'tertiary'].y.mean()

In [ ]:
global_mean = df_full_train.y.mean()
global_mean

In [ ]:
x-global_mean,y-global_mean,z-global_mean

In [ ]:
list_acc = []

In [ ]:
acurracy = 0.9002433090024331
dff= df_train[categories+numeric]
del dff['previous']
dff_val = df_val[categories+numeric]
del dff_val['previous']
dv=DictVectorizer()
train_dict = dff.to_dict(orient = 'records')
X_train = dv.fit_transform(train_dict)
val_dict = dff_val.to_dict(orient = 'records')
X_val = dv.fit_transform(val_dict)

model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train,y_train)
ypred= model.predict_proba(X_val)[:,1]
acc = (y_val==(ypred >=0.5)).mean()
list_acc.append(acc-acurracy)

In [ ]:
list_acc,min(list_acc)

In [ ]:
C = [0.01, 0.1, 1, 10, 100]
for i in C : 
    dv = DictVectorizer(sparse = False)
    train_dict = df_train[categories+numeric].to_dict(orient = 'records')
    X_train = dv.fit_transform(train_dict)

    val_dict = df_val[categories+numeric].to_dict(orient = 'records')
    X_val = dv.fit_transform(val_dict)

    model = LogisticRegression(solver='liblinear', C=i, max_iter=1000, random_state=42)
    model.fit(X_train,y_train)
    ypred = model.predict_proba(X_val)[:,1]
    churn = (ypred >=0.5)
    acc= (y_val == churn).mean()
    print("C ",i , " accuracy ",acc)